{% extends "layout.html" %}


{% block title %}Account - Budgets on Fire{% endblock %}


{% block nav %}
  <li><a href="/">Home</a></li>
{% if session.user_id %}
  
  <li class="active"><a href="/account">My Account</a></li>
  <li><a href="/monthlylimit">set limit</a></li>
  <li> <a href="/mbudget">budget history</a></li>
  <li><a href="/logout">Logout</a></li>
{% else %}
  <li><a href="/about">About</a></li>
  <li><a href="/register">Register</a></li>
  <li><a href="/login">Login</a></li>
{% endif %}
{% endblock %}

{% block main %}
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Account Details</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Account Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container"style="text-align:center;" >
<center>
        <div class="row" style="display:block;margin:0px auto;text-align:center;" >

          

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="fade-up">
              <form action="/account" method="post">
              <div class="msg">{{ msg }}</div>
                
                <h3>email:</h3>
                <input autocomplete="off" autofocus name="email" placeholder="type username" type="text">
                <h3>Update password:</h3>
                <input name="password" placeholder="New password" type="password">
                <br><br>
                <input name="password2" placeholder="One more time" type="password">
                <br><br>
                <div class="btn-wrap">
                  <button class="featured btn-buy" type="submit">Make changes</button>
                </div>
              </form>
            </div>
          </div>
          

        </div>
        </center>

      </div>
    </section><!-- End Pricing Section -->


  </main><!-- End #main -->

{% endblock %}