{% extends "layout.html" %}


{% block title %}Login - Budgets on Fire{% endblock %}


{% block nav %}
  <li><a href="/">Home</a></li>
{% if session.user_id %}
  
  <a href="/forgot">Forgot Username/Password ?</a> 
{% else %}
  <li><a href="/about">About</a></li>
  <li><a href="/register">Register</a></li>
  <li class="active"><a href="/login">Login</a></li>
{% endif %}
{% endblock %}

{% block main %}
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Login</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Login</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container"style="text-align:center;" >
<center>
        <div class="row" style="display:block;margin:0px auto;text-align:center;" >

          

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="fade-up">
              <form action="/login" method="post">
              <div class="msg">{{ msg }}</div>
                <h3>email</h3>
                <input autocomplete="off" autofocus name="email" type="text">
                <h3>Password</h3>
                <input name="password" type="password">
                 <i class="las la-lock"></i>
        </div>
        <a href="/forgot">Forgot Password ?</a> 
        
                <div class="btn-wrap">
                  <button class="featured btn-buy" type="submit">Log In</button>
                </div>
              </form>
            </div>
          </div>
          

        </div>
        </center>

      </div>
    </section><!-- End Pricing Section -->


  </main><!-- End #main -->

{% endblock %}