{% extends "layout.html" %}
{% block title %}limit- Budgets on Fire{% endblock %}

{% block nav %}
  <li><a href="/">Home</a></li>
{% if session.user_id %}
  <li><a href="/budget">My budget</a></li>
  
  <li class="active"><a href="/monthlylimit">Money limit</a></li>
  <li><a href="/mbudget">budget history</a></li>
  <li><a href="/logout">Logout</a></li>
{% else %}
  <li><a href="/about">About</a></li>
  <li><a href="/register">Register</a></li>
  <li><a href="/login">Login</a></li>
{% endif %}
{% endblock %}
{% block body %}
 <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2> Monthly Limit</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li> Monthly Limit </li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container"style="text-align:center;" >
<center>
        <div class="row" style="display:block;margin:0px auto;text-align:center;" >

          

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="fade-up">
<form action="/setlimit" method="POST">
    <div class="limit">
        <div class="alert {{ indicator }}">{{msg}}</div>  
        <h2> Monthly Limit</h2>
         <h3>month</h3>
        <input type="month" name="month" id="month" required>  
         <h3>limit</h3>  
        <input type="text" placeholder="ex 5000" name="value" required>
        <div><a href="/updatelimit"><h3>Click here to Update limit</h3></a></div>
        <button>Submit</button>
    </div>
</form>
   </div>
          </div>
          

        </div>
        </center>

      </div>
    </section><!-- End Pricing Section -->


  </main><!-- End #main -->
{% endblock %}